*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    #logo{
        padding-left: 10px;
        margin-top: 4px;
   }
   
   
   .brand-name {font-family: 'Love Ya Like A Sister', cursive;
       font-size: 1.8rem;
       position: absolute;
       left: 59px;
       top: 0px;
       margin-left:30px;
   }
   
   
      
   body{
       overflow-x: hidden;
       background-color:#f0ffff;
   }
   html{
       overflow-x: hidden;
   }
   nav {
    background-color: rgb(162, 205, 205);
    display: flex;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
   }
.main{
    display: flex;
    justify-content:space-evenly;

}
.url{
    font-size: 1rem;
    width: 300px;
    background-color: #7CB7EE;
    text-align: center;
    margin: 85px auto 10px auto;
    /* overflow-x: scroll; */
    padding:1rem;
    height:5rem;
    border-radius:12px;
}
.copy{
    width:fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: 22%;
}
.copy .btn{
    background-color:#2967A0;
    height:3rem;
    border-radius:12px;
    color: white;
    width:150%;
    cursor:pointer;
    margin: 2px 3px;
}
.download{
    width:fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto; 
}
.download .btn{
    background-color:#2967A0;
    height:3rem;
    border-radius:12px;
    color: white;
    width:120%;
}
.btn{
    background-color:#2967A0 ;
    height:3rem;
    border-radius:12px;
    color: white;
}
.btn:hover{
    background-color:#0A3E6D;
}
#image-container{
    width: 300px;
    background-color:white;
    height:300px;
    padding:40px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 5px;
}
#qr{
    width:220px;
    height:220px;
}
form{
    width: 47vw;
    height: 70vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-left: auto;
    margin-right: auto;
}
input{
    height:50px;
    width:45vw;
    margin: 10px 0px;
    outline: none;
    background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 30px;
  text-indent: 45px;
  font-family: Hepta slab, serif;
    border-radius: 10px;
}

@media (max-width:900px) {
    .main{
    display: flex;
    flex-direction: column;
}
}


.name{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size:2rem;
    text-align: center;
    /* border:2px solid black; */
    height:3rem;
    margin-top: 78px;
    margin-bottom: 10px;
}



#Website{
    background-image: url('./socials/world-wide-web.png')
}
#Gmail{
    background-image: url('./socials/gmail.png')
}
#Contact{
    background-image: url('./socials/phone.png')
}
#Twitter{
    background-image: url('./socials/twitter.png')
}
#Github{
    background-image: url('./socials/github.png')
}
#Linkedin{
    background-image: url('./socials/linkedin.png')
}
#Instagram{
    background-image: url('./socials/instagram.png')
}
#Discord{
    background-image: url('./socials/discord.png')
}
#Kaggle{
    background-image: url('./socials/Kaggle.png')
}
#Spotify{
    background-image: url('./socials/spotify.png')
}
#Pinterest{
    background-image: url('./socials/pinterest.png')
}
#Youtube{
    background-image: url('./socials/youtube.png')
}
#Yahoo{
    background-image: url('./socials/yahoo.png')
}
#Snapchat{
    background-image: url('./socials/snapchat.png')
}
#Dribble{
    background-image: url('./socials/dribble.png')
}
#Behance{
    background-image: url('./socials/behance.png')
}
#Devfolio{
    background-image: url('./socials/Devfolio.png')
}
#Codeforces{
    background-image: url('./socials/Codeforces.png')
}
#Codechef{
    background-image: url('./socials/Codechef.png')
}
#Leetcode{
    background-image: url('./socials/Leetcode.png')
}
#Gitlab{
    background-image: url('./socials/gitlab.png')
}
#Bitbucket{
    background-image: url('./socials/bitbucket.png')
}
#Twitch{
    background-image: url('./socials/twitch.png')
}
#Slack{
    background-image: url('./socials/slack.png')
}
#Medium{
    background-image: url('./socials/medium.png')
}